<div class="uk-card uk-card-default uk-card-body">
  <h3 class="uk-card-title">أضف مهارتك</h3>
  <fieldset class="uk-fieldset">

    <div class="uk-margin">
      <input class="uk-input" type="text" name="name" placeholder="الاسم" [(ngModel)]="data.name">
    </div>

    <div class="uk-margin">
      <input class="uk-input" type="text" name="phone" placeholder="رقم الهاتف" [(ngModel)]="data.phone">
    </div>

    <div class="uk-margin">
      <input class="uk-input" type="text" name="skill" placeholder="المهارة" [(ngModel)]="data.skill">
    </div>

    <div class="uk-margin">
      <input class="uk-input" type="text" name="city" placeholder="المحافظة" [(ngModel)]="data.city">
    </div>

    <div class="uk-margin">
      <input class="uk-input" type="text" name="price" placeholder="السعر" [(ngModel)]="data.price">
    </div>

    <div class="uk-margin">
      <textarea class="uk-textarea" rows="5" name="notes" placeholder="ملاحظات" [(ngModel)]="data.notes"></textarea>
    </div>

    <button class="uk-button uk-button-primary" (click)="storeSkill()">حفظ</button>
  </fieldset>
</div>